@model RBACv3.Models.ApplicationUser
@{
    ViewBag.Title = "User - " + Model.UserName;
    if ((Model.UserName != null) && (Model.UserName != ""))
    {
        ViewBag.Title = ViewBag.Title + " (" + Model.UserName + ")";
    }
}
@using (Html.BeginForm("UserEdit", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <input name='User_Id' id='User_Id' type="hidden" value="@ViewBag.UserId" />
    <div class="box box-info">

        <fieldset>
            <legend>
                <h3 style="font-weight:bold; font-size:x-large">
                    User Details
                </h3>
            </legend>
            @Html.Partial("_userDetailsEdit", Model)
            <br />
            <div class="col-md-offset-3 col-md-6 text-center">
                <input class="btn btn-success btn-lg btn-block" type="submit" value="Save" />
            </div>
        
        </fieldset>
        <br /><br />
    </div>
        <fieldset>
            <legend>
                <h3>
                    Roles Associated with this User
                </h3>
            </legend>
            <div class="panel" id="RolesTable">
                @Html.Partial("_ListUserRoleTable", Model)
            </div>
            @Html.Partial("_ListEditableUserRoleTable")
        </fieldset>
        }
        <br />
        @*<div>
            @Html.ActionLink("Go to Users", "Index", "Admin")
        </div>*@
<div class="box-tools pull-left">
    <input class="btn btn-primary" type="button" value="Go to Users" onclick="location.href='@Url.Action("Index", "Admin")'" />
</div>